.actionWrapper {
	position: relative;
    z-index: 1;
}

.actionWrapper .actions {
	position: absolute;
	right: 0;
	top: -34px;
}

/* small screens, top: 0 */
@media (max-width: 767px) {
	.actionWrapper .actions {
		top: 0;
	}
}


@media (max-width: 768px) {
	.actionWrapper .actions {
		position: relative;
		margin-left: 0 !important;
	}
}
