.card header {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	height: 40px;
	line-height: 40px;
	padding: 0 16px;
	background: var(--lighter-gray);
	border-radius: 8px 8px 0px 0px;
}

.documentContainer {
	display: flex;
	flex-direction: column;
	min-height: 400px;
	overflow: auto;
	padding: var(--gap);
	border: 1px solid var(--lighter-gray);
	border-top: none;
	border-radius: 0px 0px 8px 8px;
}

.textarea {
	height: 100%;
}
