.card {
	background: var(--bg);
	border-radius: var(--radius);
	color: var(--fg);
	border: 1px solid var(--light-gray);
	width: 100%;
	height: 100%;

	.content {
		padding: var(--gap);
		width: 100%;
		height: auto;
	}
}
