.wrapper {
  height: 100% !important;
  padding-bottom: var(--small-gap) !important;
  width: 100% !important;
}

.main {
  max-width: var(--main-content) !important;
  margin: 0 auto !important;
  padding: 0 0 !important;
}
