.buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: var(--gap-double);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .title {
    align-items: flex-start;
    flex-direction: column;
  }
}
