.page {
	max-width: var(--main-content);
	min-height: 100vh;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;

	/* 55rem == --main-content */
	@media screen and (max-width: 55rem) {
		padding: 0 1rem;
	}
}

.forSites {
	margin-top: var(--gap);
}
