.tabs {
  flex: 1 1;
  padding: 0 var(--gap);
}

.tabs .current {
  border-bottom: 2px solid initial;
}

.tabs :global(.content) {
  display: none;
}

.mobile {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 650px) {
  .tabs {
    display: none;
  }
}

.controls {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.controls :global(.menu-toggle) {
  display: flex;
  align-items: center;
  min-width: 40px;
  height: 40px;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  width: min-content;
}

.selectContent {
  width: auto;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectContent :global(svg) {
  margin-right: 10px;
  margin-left: 2px;
}
