.tabs {
	justify-content: center;
	display: flex;
	margin-top: var(--gap);
}

.tabs .buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tabs .buttons > button,
.tabs .buttons > a > button {
	border: none;
	border-radius: 0;
	cursor: pointer;
}

.tabs .active {
	border-bottom: 1px solid var(--darker-gray) !important;
}

.mobile {
	position: relative;
	z-index: 1;
}

.controls {
	margin-top: var(--gap);
	display: none !important;
}

@media only screen and (max-width: 650px) {
	.tabs {
		display: none;
	}

	.controls {
		display: block !important;
	}
}

.controls button:active,
.controls button:focus,
.controls button:hover {
	outline: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper {
	display: flex;
	align-items: center;
	width: min-content;
}

.selectContent {
	width: auto;
	height: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
