.markdownPreview pre {
  border-radius: 3px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.markdownPreview h1,
.markdownPreview h2,
.markdownPreview h3,
.markdownPreview h4,
.markdownPreview h5,
.markdownPreview h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* Auto-linked headers */
.markdownPreview h1 a,
.markdownPreview h2 a,
.markdownPreview h3 a,
.markdownPreview h4 a,
.markdownPreview h5 a,
.markdownPreview h6 a {
  color: inherit;
}

/* Auto-linked headers */
.markdownPreview h1 a:hover::after,
.markdownPreview h2 a:hover::after,
.markdownPreview h3 a:hover::after,
.markdownPreview h4 a:hover::after,
.markdownPreview h5 a:hover::after,
.markdownPreview h6 a:hover::after {
  content: "🔗";
  filter: grayscale(100%);
  font-size: 0.7em;
  margin-left: 0.25em;
  font-weight: normal;
}

.markdownPreview h1 {
  font-size: 2rem;
}

.markdownPreview h2 {
  font-size: 1.5rem;
}

.markdownPreview h3 {
  font-size: 1.25rem;
}

.markdownPreview h4 {
  font-size: 1rem;
}

.markdownPreview h5 {
  font-size: 0.875rem;
}

.markdownPreview h6 {
  font-size: 0.75rem;
}

.markdownPreview ul {
  list-style: inside;
}

.markdownPreview ul li::before {
  content: "";
}

.markdownPreview ul ul {
  list-style: circle;
}

.markdownPreview ul ul li {
  margin-left: var(--gap);
}

.markdownPreview code {
  border-radius: 3px;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 2px 4px;
}

.markdownPreview code::before,
.markdownPreview code::after {
  content: "";
}
