.markdownPreview pre {
	border-radius: 3px;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 1.42857143;
	margin: 0;
	padding: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.markdownPreview h1,
.markdownPreview h2,
.markdownPreview h3,
.markdownPreview h4,
.markdownPreview h5,
.markdownPreview h6 {
	margin-top: var(--gap);
	margin-bottom: var(--gap-half);
}

.markdownPreview h1 {
	color: var(--fg);
}

.markdownPreview h2 {
	color: var(--darkest-gray);
}

.markdownPreview h3,
.markdownPreview h4,
.markdownPreview h5,
.markdownPreview h6 {
	color: var(--darker-gray);
}

.markdownPreview a {
	color: #0070f3;
}

/* Auto-linked headers */
.markdownPreview h1 a,
.markdownPreview h2 a,
.markdownPreview h3 a,
.markdownPreview h4 a,
.markdownPreview h5 a,
.markdownPreview h6 a {
	color: inherit;
}

/* Auto-linked headers */
.markdownPreview h1 a:hover::after,
.markdownPreview h2 a:hover::after,
.markdownPreview h3 a:hover::after,
.markdownPreview h4 a:hover::after,
.markdownPreview h5 a:hover::after,
.markdownPreview h6 a:hover::after {
	content: "#";
	font-size: 0.7em;
	margin-left: 0.25em;
	font-weight: normal;
	filter: opacity(0.5);
}

.markdownPreview h1 {
	font-size: 2rem;
}

.markdownPreview h2 {
	font-size: 1.5rem;
}

.markdownPreview h3 {
	font-size: 1.25rem;
}

.markdownPreview h4 {
	font-size: 1rem;
}

.markdownPreview h5 {
	font-size: 1rem;
}

.markdownPreview h6 {
	font-size: 0.875rem;
}

.markdownPreview ul {
	list-style: inside;
}

.markdownPreview ul li::before {
	content: "";
}

.markdownPreview code {
	border-radius: 3px;
	white-space: pre-wrap;
	word-wrap: break-word;
	color: inherit !important;
}

.markdownPreview code::before,
.markdownPreview code::after {
	content: "";
}

.markdownPreview img {
	max-width: 100%;
	max-height: 350px;
}

@media screen and (max-width: 800px) {
	.markdownPreview h1 a::after,
	.markdownPreview h2 a::after,
	.markdownPreview h3 a::after,
	.markdownPreview h4 a::after,
	.markdownPreview h5 a::after,
	.markdownPreview h6 a::after {
		content: "#";
		font-size: 0.7em;
		margin-left: 0.25em;
		font-weight: normal;
		filter: opacity(0.5);
	}
}
