.tooltip {
    animation: fadein 300ms;
}

[data-side='top'] .tooltip{
    margin-bottom: var(--gap-quarter);
}

.tooltip[data-side='bottom'] {
    margin-top: var(--gap-quarter);
}

.tooltip[data-side='left'] {
    margin-right: var(--gap-quarter);
}

.tooltip[data-side='right'] {
    margin-left: var(--gap-quarter);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
