.main {
  margin-bottom: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 0;
  border: 0;
  background: transparent;
}

.dropdownContent {
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
