.title {
	display: flex;
	justify-content: space-between;
}

.titleText {
	display: flex;
	gap: var(--gap-half);
	align-items: center;
}

.badges {
	display: flex;
	gap: var(--gap-half);
	flex-wrap: wrap;
}

.buttons {
	display: flex;
	gap: var(--gap-half);
}

.oneline {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: var(--gap-quarter) 0;
}

@media screen and (max-width: 700px) {
	.badges {
		margin-top: var(--gap-half);
	}

	.title {
		gap: var(--gap);
	}

	.title h3 {
		margin: 0;
	}

	.titleText {
		flex-direction: column;
		align-items: flex-start;
	}
}

.files {
	li {
		display: flex;
		align-items: center;
		gap: var(--gap);
		padding: var(--gap-quarter);
	}

	li a {
		display: flex;
		align-items: center;
		gap: var(--gap);
		color: var(--darker-gray);
	}

	li a:hover {
		color: var(--link);
		text-decoration: none;
	}

	li a svg {
		color: inherit;
	}
}
