.container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container > * {
	width: 100%;
}

.container ul li {
	padding: 0.5rem 0;
}

.postHeader {
	display: flex;
	justify-content: space-between;
	padding: var(--gap);
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
	background: inherit;
}

.searchContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: var(--gap-half);
	margin-bottom: var(--gap);
}

@media (max-width: 768px) {
	.container ul {
		padding: 0 var(--gap);
	}
}
