.header .title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header .title .badges {
	display: flex;
	gap: var(--gap-half);
}

.header .title h3 {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.header .buttons {
	display: flex;
	justify-content: flex-end;
	margin-bottom: var(--gap);
}

.controls {
	display: flex;
	justify-content: flex-end;
}

@media screen and (max-width: 900px) {
	.header {
		flex-direction: column;
		gap: var(--gap);
	}
}

@media screen and (max-width: 700px) {
	.header .title {
		flex-direction: column;
		gap: var(--gap-half);
	}

	.header .title .badges {
		flex-direction: column;
		align-items: center;
	}

	.header .buttons {
		display: flex;
		justify-content: center;
	}
}
