.root {
	padding-bottom: 200px;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

@media screen and (max-width: 900px) {
	.header {
		flex-direction: column;
		gap: var(--gap);
	}
}

.controls {
	display: flex;
	justify-content: flex-end;
}

@media screen and (max-width: 768px) {
	.controls {
		justify-content: center;
	}
}
