.card {
	margin: var(--gap) auto;
	padding: var(--gap);
	border: 1px solid var(--light-gray);
	border-radius: var(--radius);
}

.descriptionContainer {
	display: flex;
	flex-direction: column;
	min-height: 400px;
	overflow: auto;
}

.fileNameContainer {
	font-family: var(--font-mono) !important;
	border-radius: var(--radius) !important;
	margin-bottom: var(--gap-half) !important;
	width: 100% !important;
}

.fileNameContainer span {
	transition: background-color var(--transition) !important;
	border-color: var(--light-gray) !important;
}

.fileNameContainer span:target,
.fileNameContainer span:hover {
	background-color: var(--lighter-gray) !important;
}

.fileNameContainer > div {
	/* Override geist-ui styling */
	margin: 0 !important;
}

.actionWrapper {
	position: relative;
	z-index: 1;
}

.actionWrapper .actions {
	position: absolute;
	right: 0;
}

.textarea {
	height: 100%;
}
