.card {
	padding: var(--gap);
	border: 1px solid var(--lighter-gray);
	border-radius: var(--radius);
}

.input {
	background: #efefef;
}

.documentContainer {
	display: flex;
	flex-direction: column;
	min-height: 400px;
	overflow: auto;
}

.fileNameContainer {
	display: flex;
}

.fileNameContainer > div {
	/* Override geist-ui styling */
	margin: 0 !important;
}

.textarea {
	height: 100%;
}
