.card {
	margin: var(--gap) auto;
	padding: var(--gap);
	border: 1px solid var(--light-gray);
	border-radius: var(--radius);
}

.input {
	background: #efefef;
}

.descriptionContainer {
	display: flex;
	flex-direction: column;
	min-height: 400px;
	overflow: auto;
}

.fileNameContainer {
	display: flex;
}

.fileNameContainer > div {
	/* Override geist-ui styling */
	margin: 0 !important;
}

.textarea {
	height: 100%;
}

.actionWrapper {
	position: relative;
	z-index: 1;
}

.actionWrapper .actions {
	position: absolute;
	right: 0;
}
