body [cmdk-dialog] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
	/* backdrop-filter: blur(4px); */
	transition:  opacity 100ms ease;
	pointer-events: none;
	will-change: opacity;
}
