.container {
	padding: 2rem 2rem;
	border-radius: var(--radius);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.form {
	display: grid;
	place-items: center;
}

.formGroup {
	display: flex;
	flex-direction: column;
	place-items: center;
	gap: 10px;
}

.formContentSpace {
	margin-bottom: 1rem;
	text-align: center;
}
