.button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.button-group > * {
    flex: 1 1 auto;
    margin: 0;
}

/* all buttons on the inside should have no border radius */

.button-group :global(button) {
    border-radius: 0 !important;
}
