.buttons {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: var(--gap-double);
	gap: var(--gap);
}

.buttons .rightButtons {
	display: flex;
	gap: var(--gap);
	align-items: center;
}

.datePicker {
	flex: 1;
}

.description {
	width: 100%;
	margin-bottom: var(--gap);
}

@media screen and (max-width: 650px) {
	.buttons {
		flex-direction: column;
		margin: 0;
		justify-content: space-between;
		min-height: 95px;
	}

	.buttons .rightButtons {
		flex-direction: column;
		align-items: flex-end;
	}

	.buttons .rightButtons > * {
		width: min(100%, 350px);
	}
}
