/* @media (prefers-reduced-motion: no-preference) { */
.fadeIn {
	animation-name: fadeInAnimation;
	animation-fill-mode: backwards;
}
/* } */

@keyframes fadeInAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
