.buttons {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: var(--gap-double);
}

.datePicker {
	flex: 1;
}

.title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: var(--gap);
}

@media screen and (max-width: 650px) {
	.title {
		align-items: flex-start;
		flex-direction: column;
	}

	.buttons {
		flex-direction: column;
		margin: 0;
		justify-content: space-between;
		min-height: 95px;
	}
}
