.markdownPreview {
	padding: var(--gap-quarter);
	font-size: 16px;
	line-height: 1.75;
	color: hsl(var(--foreground));
}

.skeletonPreview {
	padding: var(--gap-half);
	font-size: 16px;
	line-height: 1.75;
}
.markdownPreview {
	padding: var(--gap-quarter);
	color: hsl(var(--foreground));
}

.skeletonPreview {
	padding: var(--gap-half);
}

/* first element should never have a top margin */
.markdownPreview > *:first-child {
	margin-top: 0;
}

.markdownPreview h1,
.markdownPreview h2,
.markdownPreview h3,
.markdownPreview h4,
.markdownPreview h5,
.markdownPreview h6 {
	font-weight: 600;
}

.markdownPreview h1 {
	font-size: 1.775rem;
}

.markdownPreview h2 {
	font-size: 1.5rem;
}

.markdownPreview h3 {
	font-size: 1.25rem;
}

.markdownPreview h4 {
	font-size: 1.125rem;
}

.markdownPreview h5 {
	font-size: 1.1rem;
}

.markdownPreview p {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	
	&:not(:first-child) {
		line-height: 1.75rem;
		margin-top: 1.5rem;
	}
}

.markdownPreview pre {
	border-radius: 3px;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 1.42857143;
	margin: 0;
	padding: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

/* Auto-linked headers */
.markdownPreview h1 a,
.markdownPreview h2 a,
.markdownPreview h3 a,
.markdownPreview h4 a,
.markdownPreview h5 a,
.markdownPreview h6 a {
	color: inherit;
}

/* Auto-linked headers */
.markdownPreview h1 a:hover::after,
.markdownPreview h2 a:hover::after,
.markdownPreview h3 a:hover::after,
.markdownPreview h4 a:hover::after,
.markdownPreview h5 a:hover::after,
.markdownPreview h6 a:hover::after {
	content: "#";
	font-size: 0.7em;
	margin-left: 0.25em;
	font-weight: normal;
	filter: opacity(0.5);
}

.markdownPreview ul {
	margin-bottom: 1.5rem;
	margin-left: 1.5rem;
	list-style-type: disc;
}

.markdownPreview ol {
	margin-bottom: 1.5rem;
	margin-left: 1.5rem;
	list-style-type: decimal;
}

.markdownPreview ul li::before {
	content: "";
}

.markdownPreview code::before,
.markdownPreview code::after {
	content: "";
}

.markdownPreview blockquote {
	padding-left: 1.5rem;
	font-style: italic;
	border-left-width: 2px;
}

.markdownPreview blockquote p {
	margin-top: 0;
}

.markdownPreview table {
	overflow-y: auto;
	width: 100%;
}

.markdownPreview table th {
	font-weight: 600;
	padding: 0;
	margin: 0;
	border-top-width: 1px;
}

@media screen and (max-width: 800px) {
	.markdownPreview h1 a::after,
	.markdownPreview h2 a::after,
	.markdownPreview h3 a::after,
	.markdownPreview h4 a::after,
	.markdownPreview h5 a::after,
	.markdownPreview h6 a::after {
		content: "#";
		font-size: 0.7em;
		margin-left: 0.25em;
		font-weight: normal;
		filter: opacity(0.5);
	}
}
