.dropdown {
	display: flex;
	align-items: stretch;
}

.dropdown > button:first-child {
	border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown > button:last-child {
	border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /* if we draw bother borders it will be 2 thick */
  border-left: 0;
}

.dropdown > button:last-child:hover {
  /* because we removed the left border we need to mock it */
  outline: 1px solid var(--darker-gray);
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
