.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.dropdownButton {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.contentWrapper {
	z-index: 1000;

}

.content {
	list-style: none;
	width: 100%;
	padding: var(--gap-quarter) var(--gap);
	margin: 0;
}

.content li {
	transition: var(--transition);
	border-radius: var(--radius);
	margin: 0;
	padding: 0 0;
}

.contenthover,
.content li:focus {
	background-color: var(--lighter-gray);
}

.content li a {
	display: flex;
	align-items: center;
	text-align: center;
	padding: var(--gap-half) var(--gap);
	color: var(--dark-gray);
}

.button {
	border-radius: none !important;
}

.content li .fileIcon {
	display: inline-block;
	margin-right: var(--gap-half);
}

.content li .fileTitle {
	/* from Geist */
	font-size: calc(0.875 * 16px);
}

.content li::before {
	content: "";
	padding: 0;
	margin: 0;
}

.chevron {
	transition: transform 0.1s ease-in-out;
}

[data-state="open"] .chevron {
	transform: rotate(180deg);
}
