.note {
	color: var(--fg);
	margin: 0;
	padding: var(--gap);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-radius: var(--radius);
}

.info {
	background: var(--gray);
}

.warning {
	background: #f33;
}

.error {
	background: #f33;
}

[data-theme="light"] .warning,
[data-theme="light"] .error {
	color: var(--bg);
}

.type {
	color: var(--fg);
	margin-right: 0.5em;
	font-size: initial;
	text-transform: capitalize;
}
