.title {
	display: flex;
	justify-content: space-between;
}

.badges {
	display: flex;
	gap: var(--gap-half);
}

.buttons {
	display: flex;
	gap: var(--gap-half);
}

.oneline {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: var(--gap-quarter) 0;
}

@media screen and (max-width: 700px) {
	.badges {
		flex-direction: column;
		align-items: flex-start;
		margin-top: var(--gap-half);
	}

	.title {
		flex-direction: column;
		gap: var(--gap);
	}
}
