.container {
	display: flex;
	flex-direction: column;
}

.container ul {
	margin: 0;
	margin-top: var(--gap-double);
}

.dropzone:focus {
	border-color: var(--gray);
}

.error {
	color: red;
	font-size: 0.8rem;
	transition: border 0.14s ease-in-out;
	border: 2px solid red;
	border-radius: 2px;
	padding: 20px;
}

.error ul {
	margin: 0;
	padding-left: var(--gap-double);
}

.verb:after {
	content: "click";
}

@media (hover: none) {
	.verb:after {
		content: "tap";
	}
}
