.tabs {
	justify-content: center;
	display: flex;
	margin: var(--gap) 0;
	height: 40px;
}

.tabs .buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tabs .buttons button {
	border: none;
	border-radius: 0;
	cursor: pointer;
	background: var(--bg);
}

.tabs button,
.tabs a {
	color: var(--darker-gray);
	transition: color, box-shadow 0.2s ease-in-out;
}

.tabs .buttons a:hover,
.tabs .buttons button:hover {
	color: var(--fg);
	box-shadow: inset 0 -1px 0 var(--fg);
}

.wrapper {
	display: flex;
	align-items: center;
	width: min-content;
}

.header {
	transition: opacity 0.2s ease-in-out;
	opacity: 0;
}

.header:not(.loading) {
	opacity: 1;
}


.selectContent {
	width: auto;
	height: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.active a,
.active button {
	color: var(--fg);
}

.buttonGroup,
.mobile {
	display: none;
}

@media only screen and (max-width: 768px) {
	.wrapper [data-tab="github"] {
		display: none;
	}

	.mobile {
		margin-top: var(--gap);
		display: flex;
	}

	.buttonGroup {
		display: flex;
		flex-direction: column;
	}

	.dropdownItem a,
	.dropdownItem button {
		width: 100%;
	}

	.tabs {
		display: none;
	}
}
