.tabs {
	justify-content: center;
	display: flex;
	margin: var(--gap) 0;
	height: 40px;
}

.tabs .buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tabs .buttons button {
	border: none;
	border-radius: 0;
	cursor: pointer;
	background: var(--bg);
}

.tabs button,
.tabs a {
	color: var(--darker-gray);
	transition: color, box-shadow 0.2s ease-in-out;
}

.tabs .buttons a:hover,
.tabs .buttons button:hover {
	color: var(--fg);
	box-shadow: inset 0 -1px 0 var(--fg);
}

.mobile {
	position: absolute;
	z-index: 1000;
	display: flex;
	flex-direction: column;
}

.mobile button {
	z-index: 1000;
	width: 100%;
}

.controls {
	margin-top: var(--gap);
	display: none !important;
}

@media only screen and (max-width: 650px) {
	.tabs {
		display: none;
	}

	.controls {
		display: block !important;
	}
}

.controls button:active,
.controls button:focus,
.controls button:hover {
	outline: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper {
	display: flex;
	align-items: center;
	width: min-content;
}

.selectContent {
	width: auto;
	height: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.active a,
.active button {
	color: var(--fg);
}
